html {
  -webkit-transition: transicao 5s infinite;
  -moz-transition: transicao 5s infinite;
  -o-transition: transicao 5s infinite;
  transition: transicao 5s;
}

@-webkit-keyframes transicao {
    0%  {background:  #90d2d8;}
    20% {background:  #b7ded2;}
    40% {background:  #f6a6b2;}
    60% {background:  #f7c297;}
    80% {background:  #ffecb8;}
    100%{background:  #90d2d8;}
}

input[type=text] {
  font-size: 17px;
  padding: 3px;
  border-radius: 4px;
  width: 50px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  color: black;
  border: none;
}

button {
  font-size: 17px;	
  border: none;
  color: black;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.adicionar {
  background-color: #4CAF50;
}

.remover {
  background-color: #f44336;
}

canvas {
  cursor: crosshair;
  background-color: white;
}

body {
    text-align: center;
}

div {
    text-align: left;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  animation: transicao 5s;
  animation-iteration-count: infinite;
}

.legenda {
  width: 20px;
  height: 20px;
  margin-left: 50%;
  border: 1px solid rgba(0, 0, 0, .2);
}

.azul {
  background: #4E9AF8;
}

.amarelo {
  background: #FFC300;
}

.roxo {
  background: #571845;
}

.vinho {
  background: #900C3E;
}

.laranja {
  background: #FF5733;
}

.preto {
  background: #000000;
}
